@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');
body{font-family: "Noto Sans KR", sans-serif;color: #353535;   user-select: none;}
a{text-decoration: none;color: inherit;}
ul,li{list-style: none;}
.inner{
  padding: 0 16px;
}

